

body {
    background-color:#282a36;    
    flex: 1;
}
article {
    padding: 5px;

}
header a {
   
}

header p {
   color: lightgray;
   padding-left: 50px;
   
}

h1 {
   font-family:Arial, Helvetica, sans-serif;
   color:  #f8f8f2;
   font-size: 40px;
   margin: 30px 0px 0px 30px;
   padding: 10px;
   
}

h2 {
    font-family:Arial, Helvetica, sans-serif;
    color:  #f8f8f2;
    margin: 50px;
    margin-bottom: 5px;
    padding-left: 5px;
    
}

h3 {
    font-family:Arial, Helvetica, sans-serif;
    color:  #f8f8f2;
    margin: 10px;
    margin-left: 30px;
    padding-left: 25px;
}

p {
    font-family:Arial, Helvetica, sans-serif;
    color:  #f8f8f2;
    

}
a{
    color:  #f8f8f2;
    
   
}
ol {
    color:  #f8f8f2;
    font-size: 20px;
    margin: 30px;
}

dl {
    color:  #f8f8f2;
    font-size: 20px;
    margin: 30px;
}
p.date {
    margin-left: 30px;
}
button {
    color:  #f8f8f2;
    font-size: 20px;
    margin: 30px;
    background-color: #282a36; 
    border: none;  
    
}
button a{
    text-decoration: none;
}
div {
    color:  #f8f8f2;
    font-size: 20px;
    margin: 30px;
}